*{
    padding: 0;
    margin: 0;
}
.home-navbar{
    background-color: #EDDDCD;
    display: flex;
   
}
.home-navbar h1{
    padding-left:10px ;
    font-family:serif;
}
.items-home{
    display: flex;
padding-left: 750px;
justify-content:space-between;
color: black!important;
padding-top: 15px;
}
.navbar-home{
    padding-inline:30px ;
    color: black;
    font-size:15px ;
}

.home-cover img{ 
    position: relative;

}
.home-cover p{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    padding-left: 200px;
    bottom: 500px;
    color: white;
}

.parentk {display: flex;
    justify-content:space-evenly;
    background-color:#EDDDCD ;
    padding: 3em;
    position: relative;

}
.parentk h3{
    text-align: center;
    position: absolute;
    bottom: 400px;
    font-size: x-large;
    font-family: sans-serif;
}
.cardk1{
    grid-area: cardk1;
    background-color:#DCB49E;
    border: solid #EDDDCD ;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
}
.cardk2{
    grid-area: cardk2;
    background-color:#DCB49E;
    border: solid #EDDDCD;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;

}

.cardk3{
    grid-area: cardk3;
    background-color:#DCB49E;
    border: solid #EDDDCD;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
}

.parentk img{
    height: 200px;
    object-fit:cover;
    border-top-left-radius: 50% ;
    border-top-right-radius: 50%;
}
.buttonh{
    background-color:#DCB49E!important;
    color: black;
    border-color:#DCB49E;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    

}
.button-home{
    background-color:#DCB49E!important;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.button1{
    background-color:#DCB49E!important;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.parent2 {
    display: grid;
    grid-template-rows: 100px 30px 100px 50px ;
    background-color:white ;
    position: relative;
}
.child img {
    position: absolute;
    box-sizing: content-box;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    left: 69%;
}

.child p{
    padding-left: 8em;
    font-size: large;
    padding-top: 3em;
    padding-bottom: 5em;
}
.buttonhome{
    background-color:#EDDDCD!important;
    color: black;
    text-align:center;
    border-left: 6em;
}

.parenthome3{
    display: flex;
    justify-content: space-between;
    background-color:#DCB49E!important;
}
.parenthome3 h3{
    text-align: center;
    padding: 1em;
    position: absolute;
    padding-left: 40%;
}
.parenthome3 img{ 
    object-fit: cover;
    width: 150px;
    height: 150px;

}
.k1{
    
    display: flex;
    width: 330px;
    height: 340px;
    padding:40px;
    margin: 50px 50px 20px 0px;
}
.k2{
    display: flex;
    width: 330px;
    height: 340px;
    padding: 60px;
    margin: 30px 30px 20px 0px;
}
.k3{
    display: flex;
    width: 330px;
    height: 340px;
    padding: 80px;
    margin:20px 30px 10px 0px ;
}
.parenthome4{
background-color:#EDDDCD;
display: grid;
grid-template-rows: 90px 30px 90px 30px;
grid-template-columns: 100px 100px 100px 100px;
width: 1440px;
height: 250px;


}
.childend{
    position: absolute;
    border: solid;
    border-radius: 30%;
    width: 300px;
    height: 250px;
    background-color:#DCB49E;
    border-color:#DCB49E;
    margin-left: 550px;
    margin-bottom: 300px;

}
.childend h5{
    text-align: center;
    padding: 2em;
    font-family: sans-serif;
}
.childend h6{
    text-align: center;

}


